.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: url('./playerdetailsBg.jpg') top center / cover no-repeat;
}

.login-main {
  background: #11110fcd;
  margin: 0 auto;
  max-width: 500px;
  min-height: 20%;
  padding: 32px;
  border-radius: 7px;
  box-shadow: 0 0 12px #14131316;
  text-align: center;
}

.login-main img {
  width: 40%;
}

.login h2 {
  color: #f9f9f9;
  font-size: 35px;
  font-weight: 500;
}

.login hr {
  background: #787878;
  height: 1px;
  border: none;
  margin: 12px 0;
}

.login-desc {
  color: #f9f9f9;
  font-weight: 400;
  padding: 5px 0 20px 0;
  font-size: 15px;
}

.checkbox {
  color: #f9f9f9;
}

.login-form-button {
  width: 100%;
}

.regiter-now {
  color: #f9f9f9;
  padding-top: 24px;
  width: 100%;
}

.login-form-button {
  background: #bd8f04;
}

.login-form-button:hover {
  background: #e2ad0c !important;
}

.login-form-forgot {
  color: #bd8f04;
}

.login-form-forgot:hover {
  color: #e2ad0c !important;
}

.login-form-forgot:active {
  color: #e2ad0c !important;
}

.regiter-btn {
  color: #bd8f04;
}

.regiter-btn:hover {
  color: #e2ad0c !important;
}

.regiter-btn:active {
  color: #e2ad0c !important;
}

.swal-button {
  background-color: #bd8f04 !important;
}

.swal-button--cancel {
  background-color: #dbdbdb !important;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
  background-color: #bd8f04 !important;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-form-item .ant-form-item-control-input-content {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

#components-form-demo-normal-login .login-form {
  max-width: 500px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

// Tablet
@media (min-width: 740px) and (max-width: 1024px) {
}
// Mobile
@media (max-width: 739px) {
  .login-main {
    background: transparent;
  }
}
