.Info-soccer {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 16px;

    &:hover .Infomation {
        transform: translateY(-75%);
    }


    .Image-player {
        margin-bottom: -5px;
        width: 100%;



        img {
            width: 100%;
            min-width: 200px;
            height: 300px;
            object-fit: cover;
        }
    }

    .Infomation {
        position: absolute;
        width: 100%;
        transition: all 0.4s ease 0s;
        top: 83%;
        left: 0px;
        background-color: #fbc02d;
        opacity: 0.7;

        .Name {
            margin: 20px 10px 10px;
            z-index: 1;
            font-weight: 600;
            cursor: pointer;

            .a-name {
                text-decoration: none;
                color: #000000;
                font-weight: bolder;
            }
        }

        .a-name:hover {
            color: white;
        }

        .Bor {
            display: flex;
            flex-direction: row;
            width: 100%;


            .Key {
                margin: 5px 0px 5px 10px;
                font-size: 16px;
                margin-right: 30px;
                width: 50%;

                .br {
                    margin: 5px 0px;
                }
            }

            .Value {
                display: block;
                font-size: 16px;
                width: 40%;
                margin: 5px 30px 5px 0px;

                .br {
                    margin: 5px 0px;
                }

                .icon {
                    display: flex;
                    width: 100%;

                    .icon-1 {
                        cursor: pointer;
                        width: 30%;
                    }

                    .icon-1:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

@media (max-width:1023px) {
    .Image-player {
        min-width: 600px;

        img {
            max-width: 400px;
        }
    }

}

@media (max-width:750px) {
    .Image-player {
        width: 100%;

        img {
            border: 1px solid red;
            width: 100%;
            max-width: 700px;
            min-width: 300px;
        }
    }

}