.tab-match {
  margin: 22px 0;
  padding: 8px 28px 8px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.left span {
  width: calc(100% / 3);
  text-align: center;
}
.tab-match .space {
  margin: 0 8px;
}
.tab-match .link {
  color: #fbc02d;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.tab-match .link:hover {
  color: white;
}
.tab-match.opacity {
  background-color: rgba(0, 0, 0, 0.459);
}
.right {
  width: 50%;
  display: flex;
  justify-content: center;
}
.right span {
  width: calc(100% / 3);
  text-align: center;
}

@media (max-width: 740px) {
  .tab-match {
    flex-direction: column;
    padding: 16px;
    color: 0.7rem;
    align-items: center;
    justify-content: center;
    padding-right: 28px;
  }
  .left {
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 4px;
  }
  .right {
    display: none;
  }
}
