.item-1{
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;

    .Choice-info{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #FBC02D;
      text-decoration: none;
      margin-right: 45px;
      padding: 6px 30px;
      color: #505050;
      font-weight: 400;
      font-size: 18px;
    }

    .Choice-info:hover{
      color: #FBC02D;
    }
  }

  
  .item-3{
    width: 100%;
    margin-bottom: 80px;
    .item-2{
      background-color: #00000014;
      display: flex;
     
      
      .Label-image{
        width: 40%;
        display: flex;
        margin-left: 20px;
      }
  
      .Label-name{
        width: 32%;
        display: flex;
        margin-left: 20px;
      }
  
      .Label-designation{
        width: 20%;
        display: flex;  
         
       
      }
    }

    .Info-player-a{
      display: flex;
      margin-top: 5px;
      height: 100px;
      

      .Image-player{
        width: 40%;
        display: flex;
        img{
          width: 100px;
          height: 100px;
          object-fit: cover;
          border: 4px solid #FBC02D;
        }
      }
      
      .Info-link{
       display: flex;
       width: 35%;
       text-decoration: none;
       color:black;
       align-items: center;
       font-size: 18px;
      
      }
      .Info-link:hover{
        cursor: pointer;
        color: #FBC02D;
      }

      span{
        display: flex;
        align-items: center;
        width: 20%;
        color: #505050;
       
        font-size: 18px;
    
      }
    }
    .Info-player-b{
      display: flex;
      margin-top: 5px;
      background-color: #00000014;
      height: 100px;
      .Image-player{
        width: 40%;
        display: flex;
        img{
          width: 100px;
          height: 100px;
          border: 4px solid #FBC02D;
        }
      }
      .Info-link{
       display: flex;
       align-items: center;
       width: 35%;
       text-decoration: none;
       color:black;
       font-size: 18px;
      }
      .Info-link:hover{
        cursor: pointer;
        color: #FBC02D;
      }

      span{
        display: flex;
        align-items: center;
        width: 20%;
        color: #505050;
        font-size: 18px;
      }
    }
}
