.header{
    background: #e6b413;
}

.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 1300px;
    margin: 0 auto;
}

.header-right{
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.header-left{
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.email{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 24px;
}

.login{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.dropdown-btn:hover{
    cursor: pointer;
}

.VI{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.VI img{
    width: 2%;
}

.ENG{
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.ENG img{
    width: 2%;
}

